html {
  box-sizing: border-box;
  font-family: "Georgia", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
  margin: 1rem;
}

header h1 {
  grid-area: banner;
  z-index: 1;
  width: 14rem;
  align-self: end;
  margin: 1rem;
}

header img {
  grid-area: banner;
  grid-column: 1/-1;
  grid-row: 1;
}

header nav {
  grid-area: banner;
  grid-column: 2;
  align-items: baseline;

}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  font-family: "Patua One", sans-serif;
  color: #fff;
  font-size: 2rem;
}
main {
  display: contents;
}

figure {
  margin: 0;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin-bottom: 0;
}

p {
  margin: 0;
}
